@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



:root {
    --primary-color:#1B048A;
    --secondary-color:#29baf3;
    --font:"Jost", sans-serif;
    --accent:#000;
}

body { padding:0;margin: 0;font-family: var(--font);font-size: 18px;font-weight: 400;line-height: 1.5em;}
a {transition: all 0.3s ease-in-out;}
.outer-wrapper {margin: 0 auto;max-width: 1440px;padding:0;width: 100%;}
.container {margin: 0 auto; padding:0 15px;max-width: 100%;width:100%;}
.primary-btn,
.secondary-btn  {font-size: 18px;line-height: 30px;padding: 11px 24px;border: 1px solid var( --accent);border-radius: 1000px;color: var( --accent);text-decoration: none;font-weight: 500;display: inline-block;}
.primary-btn:hover {background-color: var(--accent);color:#fff;}
.secondary-btn {background-color: var(--accent);color:#fff;}
.secondary-btn:hover {background-color: var(--secondary-color);border-color: var(--secondary-color);color:#fff;}

.heading-h1 {font-size: 56px;font-weight: 800;line-height: 1.2em;text-shadow: 0 0 5px #00000040, 0 0 10px #00000040, 0 0 15px #00000040;}




@media(max-width:1024px){
    .heading-h1 {font-size: 48px;}
}


@media(max-width:767px){
    .heading-h1 {font-size:38px;}
}